body{
    background-color:beige;
}

header{
    background-color:rgb(177, 247, 223);
    color:rgb(255, 116, 65);
    text-align: center;
    font-family: 'Satisfy', cursive;
}

header h3{
    color:red;
    font-weight: bold;
}

#div-1{
    background-color: rgb(196, 225, 252);
    text-align: center;
    font-family: 'Kalam', cursive;
}

#div-1 button{
    align-items: center;
    color:cyan;
    font-weight: bold;
    font-size:20px;
    margin-top:10px;
}

.Img_can{
    height:250px;
    width:250px;
    margin-bottom: 20px;
} 

footer{
    background-color: bisque;
    color: rgb(252, 34, 34);
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    font-size:30px;
    font-family: 'Creepster', cursive;
    text-shadow:3px 3px yellow;
}