#h3{
    font-size:60px;
    color:#FF0000;
}

#h32{
    font-size:70px;
    color:rgb(38, 0, 255);
}

#input1, #input2, #input3, #input4, #input5{
    width:500px;
}

body{
    background-size: cover;
}

#div1 {
    width:33.33%;
    margin-left:20px;
    float:left;
}

#div2{
    width:33.33%;
    height:680px;
    margin-top:20px;
    margin-left:550px;
    font-size:65px;
    font-family:'Birthstone', cursive;
    color:red;
    background-color: #dff7f5;
    font-style: oblique;
    text-align: center;
}

#div3{
    width:25%;
    height:680px;
    margin-top:-680px;
    margin-left:1100px;
    background-color:#dff7f5;
}

.Box{
    box-shadow:0 5px 15px rgba(21, 16, 211,.5);
}

#button1{
    background-color:rgb(129, 127, 255);
}

#input6 {
    width:300px;
}